html, body {
  font-size: 18px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: rgb(98,98,109);
  height: 100%;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  border: none;
  color: inherit;
  text-decoration: none;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 48px;
  opacity: 1;
  transition: opacity 1s, background-color 1s;
  background-color: rgb(235,100,123);
  overflow: hidden;
}

.header--logo {
  flex: 0 1 auto;
  width: 120px;
  vertical-align: middle;
  padding-bottom: 10px;
  display: none;
  align-self: center;
}

.header--title {
  margin: 0;
  padding: 0;
  font-family: Verdata-Bold, Impact, Charcoal, sans-serif;
  font-size: 4.4rem;
  line-height: 1;
  letter-spacing: -4px;
  color: rgb(255,255,255);
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .header {
    justify-content: flex-start;
    padding: 0 20px;
    height: 140px;
  }

  .header--title {
    flex: 0 1 auto;
    font-size: 11rem;
    margin-left: 2rem;
  }

  .header--logo {
    display: block;
  }

  .header--logo img {
    width: 100%;
    height: 100%;
  }

  .animated-welcome {
    background-color: rgb(235,100,123);
  }

  .animated-welcome .section--items {
    opacity: 0;
  }

  .animated-welcome .section{
    opacity: 0;
  }

  .animated-welcome .header--title {
    opacity: 0;
  }

  .animated-welcome .header--logo {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;

    animation-name: logo-resize;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 200ms;
  }

  @keyframes logo-resize {
    100% {
      height: 120px;
    }
  }
}

.section {
  padding: 5px 20px;
}

.section--title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  color: #071013;
  font-size: 200%;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 30px;
}

.section--items {
  opacity: 1;
  transition: opacity .5s;

  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  color: rgb(0,0,0);
  background-color: white;
}

.section--items__center {
  justify-content: space-around;
}

.intro {
  color: #111111;
  max-width: 800px;
  margin: 30px auto;
  font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 200;
  font-size: 120%;
  text-align: justify;
  word-break: normal;
  word-wrap: break-word;

  -webkit-hyphens: manual;
  hyphens: manual;
}

@media only screen and (min-width: 768px) {
  .intro {
    font-size: 160%;
    text-align: left;
  }
}

.intro strong {
  font-weight: 400;
  border-bottom: 1px dashed black;
}

.intro a,
.intro a:visited {
  color: #0074D9;
  border-bottom: 1px dotted;
}

.intro a:hover {
  color: #7FDBFF;
}

.intro a:active {
  color: #0074D9;
}

.project {
  box-sizing: border-box;
  border: 1px solid #102542;
  margin: 20px 0;
  align-content: flex-start;
  align-items: flex-start;
  background: rgba(205, 215, 214, .3);
  border-radius: 5px;
}

.project--heading {
  margin: 0;
  padding: 0;
}

.project--cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 0;
  box-sizing: border-box;
  border: 3px solid white;
}

.project--title {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #102542;
  font-family: monaco, monospace;
  color: white;
  border-radius: 4px 4px 0 0;
}

.project--desc {
  padding: 0 20px;
  margin: 0;
}

.project--desc a,
.project--desc a:visited {
  color: #0074D9;
  border-bottom: 1px dotted;
}

.project--desc a:hover {
  color: #7FDBFF;
}

.project--desc a:active {
  color: #0074D9;
}

.project--authors {
  padding: 0 20px;
  margin-bottom: 5px;
}

.project-techs {
  text-align: right;
  padding: 0 20px;
  margin: 0;
}

.tech {
  background: white 50% 50% no-repeat scroll;
  background-size: 25px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.2);
}

.tech__js {
  background-image: url("../images/tech-js.jpg");
}

.tech__ember {
  background-image: url("../images/tech-ember.png");
}

.tech__html5 {
  background-image: url("../images/tech-html5.png");
}

.tech__css3 {
  background-image: url("../images/tech-css3.png");
}

.tech__ruby {
  background-image: url("../images/tech-ruby.png");
}

.tech__node {
  background-image: url("../images/tech-node.png");
}

.tech__bash {
  background-image: url("../images/tech-bash.png");
}

@media only screen and (min-width: 768px) {
  .section--items {
    flex-flow: row wrap;
  }

  .project {
    flex: 0 0 1;
    width: 365px;
    margin: 10px;
  }
}

.author {
  position: relative;
  display: inline-block;
  margin-right: 3px;
}

.author--name {
  position: absolute;
  left: -45px;
  bottom: -30px;
  padding: 3px 5px;
  z-index: 1;

  display: none;
  color: white;
  background: black;
  font-size: 75%;
  width: 130px;
  text-align: center;
  text-rendering: optimizeSpeed;
  border-radius: 3px;
}

.author:hover .author--name {
  display: block;
}

.author--pointer {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  top: -5px;
  left: 63px;
}

.author--avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent none 70% 30% no-repeat scroll;
  background-size: 60px;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,.1);
}

.author--avatar--outer {
  display: inline-block;
  width: 42px;
  height: 42px;
}

.author--avatar__san650 {
  background-image: url("https://www.gravatar.com/avatar/7f2b539e2b52664f3031198809743bf0.jpg?s=100");
}

.author--avatar__marpo60 {
  background-image: url("https://www.gravatar.com/avatar/a041d11e6ae29a903109829e519a8e8d.jpg?s=100");
}

.author--avatar__juanazam {
  background-image: url("https://www.gravatar.com/avatar/c4be5195b191b323ffae6a20d69442fb.jpg?s=100");
}

.author--avatar__hidnasio {
  background-image: url("https://www.gravatar.com/avatar/ce547b51631b049bb46df98972cf79d0.jpg?s=100");
}

.author--avatar__jubar {
  background-image: url("https://www.gravatar.com/avatar/51aaaebc5b833211facbe04fbd3a7a5c.jpg?s=100");
}

.member {
  box-sizing: border-box;
  border: 1px solid rgba(0, 116, 217, 1);
  margin: 20px 0;
  align-content: flex-start;
  align-items: flex-start;
  text-align: center;
  background-color: rgba(0, 116, 217, .1);
  border-radius: 15px;
}

.member:target {
  border: 4px solid rgba(0, 116, 217, 1);
}

.member a,
.member a:visited {
  color: #0074D9;
  border-bottom: 1px dotted;
}

.member a:hover {
  color: #7FDBFF;
}

.member a:active {
  color: #0074D9;
}

.member--avatar {
  width: 150px;
  border-radius: 75px;
  border: 1px solid #0074D9;
}

.member--desc {
  box-sizing: border-box;
  padding: 7px 5px;
}

.member--urls {
  margin: 0;
}

.member--url {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  .section--items {
    flex-flow: row wrap;
  }

  .member {
    flex: 0 0 1;
    width: 365px;
    margin: 10px;
  }
}
